a {
    color: #FF903F;
}

body {
    background-color: #000;
    border: 1px solid black;
    font-family: 'Monaco', 'Courier New', 'Terminal', monospace;
    color: #E6E0DB;
    padding: 3px 5px;
    overflow: auto;
    font-size: 16px;
}

table.paste-table {

}