a {
    color: #E30000;
}

body {
    background-color: #d6d6d6;
    font-family: 'Monaco', 'Courier New', 'Terminal', monospace;
    color: #000;
    padding: 3px 5px;
    overflow: auto;
    font-size: 16px;
}

table.index {
    text-align: center;
}

table.index td {
    padding: 10px;
}

.new {
    float: left;
}

.show-header {
    font-size: 12px;
}

.author {
    color: #C61616;
}